<div class="works">
    <div class="container">
        <div class="row text-center">
            <h1 class="mt-4 text-dark">How it works</h1>
            <h6>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</h6>
        </div>
        <div class="row text-center mt-5 mb-5">
            <div class="col">
                <!-- <hr style="height:2px; width:50%; border-width:0; color:red; background-color:red"> -->
                <button class="btn btn-lg btn-floating">
                    <img src="../../../../assets/img/archive-book.png" alt="">
                </button>
                <div class="line-1"></div>
                <h5 class="mt-2">Profile Screening & Shortlisting</h5>
                <p>The content of a website includes the text, images, sounds, videos</p>
            </div>
            <div class="col">
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
                <!-- <div class="vr" style="height: 70px; border-width:0; color:red;"></div> -->
                <div style="margin-top:50px;">
                    <button class="btn btn-lg btn-floating">
                        <img src="../../../../assets/img/translate.png" alt="">
                    </button>
                    <h5 class="mt-2">Language Proficiency</h5>
                    <p>The content of a website includes the text, images, sounds, videos</p>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-floating">
                    <img src="../../../../assets/img/user-octagon.png" alt="">
                </button>
                <h5 class="mt-2">Apptitude Evaluation</h5>
                <p>The content of a website includes the text, images, sounds, videos</p>
            </div>
            <div class="col" >
                <hr style="height:2px; width:100%; border-width:0; color:red; background-color:red">
                <!-- <div class="vr" style="height: 70px; border-width:0; color:red;"></div> -->
                <div style="margin-top:50px;">
                    <button class="btn btn-lg btn-floating">
                        <img src="../../../../assets/img/personalcard.png" alt="">
                    </button>
                    <h5 class="mt-2">Technical Assessment</h5>
                    <p>The content of a website includes the text, images, sounds, videos</p>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-lg btn-floating"> 
                    <img src="../../../../assets/img/clipboard-tick.png" alt="">
                </button>
                <h5 class="mt-2">Panel Interview</h5>
                <p>The content of a website includes the text, images, sounds, videos</p>
            </div>
        </div>
    </div>
</div>