
<nav class="navbar navbar-expand-lg p-4" id="slider"  [style.color]="color=='#081429' ? 'white' : 'black'" >
  <div class="container">
    <div class="left">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <a class="navbar-brand mt-2 mt-lg-0 collapse navbar-collapse" id="navbarSupportedContent">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="35"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
    </div>

    <div class="right">
      <div class="d-flex align-items-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item mx-3">
              <a class="nav-link" [ngStyle]="{'color':color=='#081429'?'white':'black'}" href="#">Services</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link"  [ngStyle]="{'color':color=='#081429'?'white':'black'}" href="#">Find Jobs</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link"  [ngStyle]="{'color':color=='#081429'?'white':'black'}" href="#">About Us</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link"  [ngStyle]="{'color':color=='#081429'?'white':'black'}" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="body" id="body">
  <div class="container">
    <div class="float-end">
      <img class="image1" src="../../../assets/img/Backgroung rings.png" alt="" height="400px">
      <img class="image2" src="../../../assets/img/Ball.png" alt="" height="400px">
      <img class="image3" src="../../../assets/img/fdfd 1.png" alt="" height="500px">
      <img class="image4" src="../../../assets/img/Banner card.png" alt="" height="100px">
    </div>
    <h1 class="font1" style="font-size: 50px;font-weight: bolder;max-width: 750px;">Delivering the right workforce solutions,right on time</h1>
    <h5 class="font2">The content of a website includes the text, images, sounds, videos, and animations that users experience on a website. Website content is the utmost important tool you can use to achieve your marketing strategy and communication to your customers about your brand.</h5>
    <button class="font2 btn">Find Your Job</button>
  </div>
</div>

