<footer class="text-white" style="background-color: #081429;">
    <!-- Grid container -->
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-4">
                <img
                    src="https://www.applogiq.org/assets/images/logo.gif"
                    height="35"
                    alt="MDB Logo"
                    loading="lazy"
                />
            </div>
            <div class="col-md-3">
                <h5>Our Services</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                      <a href="#!" class="text-white">Web Application</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">Mobile Application</a>
                    </li>
                    <li class="mb-2"> 
                      <a href="#!" class="text-white">Desktop Application</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">CRM</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Others</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                      <a href="#!" class="text-white">About Us</a>
                    </li>
                    <li class="mb-2">
                      <a href="#!" class="text-white">FAQs</a>
                    </li>
                    <li>
                      <a href="#!" class="text-white">Usage</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <i class="fa fa-location"></i>
                        <a href="#!" class="text-white"> Valipalayam, Tiruppur, Tamil Nadu 641652</a>
                    </li>
                    <li class="mb-2">
                        <i class="fa fa-phone"></i>
                        <a href="#!" class="text-white"> 1234567890</a>
                    </li>
                    <li>
                        <i class="fa fa-mail-bulk"></i>
                        <a href="#!" class="text-white"> applogiQ@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">ApplogiQ.com</a>
    </div>
    <!-- Copyright -->
</footer>