
<div class="nav">
  <div class="col text-center">
    <button class="btn" style="background-color:#ffee00;" (click)="btnColor('#ffee00')">EFCEIE</button>
    <button class="btn" style="background-color:#081429;color: white;" (click)="btnColor('#081429')">081429</button>
    <button class="btn" style="background-color:#FFFFFF;" (click)="btnColor('#FFFFFF')">FFFFFF</button>
    <button class="btn" style="background-color:#FDFAE8;" (click)="btnColor('#FDFAE8')">FDFAE8</button>
  </div>
</div>

<app-header></app-header>
<app-body></app-body>
