
<div class="say">
    <div class="container">
        <div class="row text-center text-white">
            <h1 class="mt-4">What People say</h1>
            <h6>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</h6>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body mt-1">
                        <i class="fa fa-quote-left" id="font" aria-hidden="true"></i>
                        <p>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</p>
                        <img
                            src="https://static.thenounproject.com/png/2345665-200.png"
                            alt="avatar" class="d-flex align-self-center me-3" class="rounded-circle"
                            height="40"
                            width="40">
                        <span>Someone Name</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body mt-1">
                        <i class="fa fa-quote-left" id="font" aria-hidden="true"></i>
                        <p>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</p>
                        <img
                            src="https://static.thenounproject.com/png/2345665-200.png"
                            alt="avatar" class="d-flex align-self-center me-3" class="rounded-circle"
                            height="40"
                            width="40">
                        <span>Someone Name</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body mt-1">
                        <i class="fa fa-quote-left" id="font" aria-hidden="true"></i>
                        <p>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</p>
                        <img
                            src="https://static.thenounproject.com/png/2345665-200.png"
                            alt="avatar" class="d-flex align-self-center me-3" class="rounded-circle"
                            height="40"
                            width="40">
                        <span>Someone Name</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-4 mt-4">
            <div class="row text-center">
                <div class="col">
                    <h4>2+</h4>
                    <h6>Work Experience</h6>
                </div>
                <div class="col">
                    <h4>20+</h4>
                    <h6>Work Experience</h6>
                </div>
                <div class="col">
                    <h4>1500+</h4>
                    <h6>Work Experience</h6>
                </div>
                <div class="col">
                    <h4>30+</h4>
                    <h6>Work Experience</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="upload">
    <div class="container mb-5" id="contentBlock" [style.background-color]="color ? color : 'goldenrod'">
        <div class="row">
            <div class="col-md-5" id="col1">
                <img class="image1" src="../../../assets/img/Backgroung rings.png" alt="" height="400px">
                <img class="image3" src="../../../../assets/img/business-young-successful-male-entrepreneur-showing-thumb-up-while-working-laptop-standing 1.png" alt="" height="400px">
            </div>
            <div class="col-md-2" style="margin-top: 130px;">
                <img src="../../../../assets/img/Arrow.png" alt="">
            </div>
            <div class="col-md-5" id="col2" [style.color]="color == '#FFFFFF' || color == '#FDFAE8' ? 'black' : 'white'">
                <h3 style="font-weight:bolder;">Enough Talk, Let's Find Your Dream</h3>
                <p>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</p>
                <button class="btn">About Us</button>
            </div>
        </div>
    </div>
</div>