
.image3{
    border-radius: 25px;
}

.service{
    height: 50%;
    background-color: rgb(255, 235, 239);
}

.btn{
    margin-top: 10px;
    border-radius: 30px;
    background-color: #081429;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }