<div class="service" [style.background-color]="color ? color : 'goldenrod'">
    <div class="container">
      <div class="row">
        <div class="col" [ngStyle]="{'color':color=='#081429'?'white':'black'}">
          <h1 class="mt-4" >Service we offer</h1>
          <h5>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.</h5>
          <img class="image3" src="../../../assets/img/Woman picture.png" alt="" height="400px">
        </div>
        <div class="col mt-4 mb-4">
          <div class="row">
            <div class="col">
              <div class="card">
                <h4>Permanent</h4>
                <p>The content of a website includes the text, images, sounds, videos.</p>
                <a href="">Learn More &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h4>Permanent</h4>
                <p>The content of a website includes the text, images, sounds, videos.</p>
                <a href="">Learn More &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card" >
                <h4>Permanent</h4>
                <p>The content of a website includes the text, images, sounds, videos.</p>
                <a href="">Learn More &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <h4>Permanent </h4>
                <p>The content of a website includes the text, images, sounds, videos.</p>
                <a href="">Learn More &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h4>Permanent</h4>
                <p>The content of a website includes the text, images, sounds, videos.</p>
                <a href="">Learn More &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>