.service{
    height: 50%;
  }
  
  h4{
    color: black;
  }
  
  .image2 {
    position: absolute;
    top: 0;
    left:280px;
  }
  .image3 {
    position: relative;
    top: 0;
    right:0;
  }
  
  #middle{
    width: 330px;
    margin-left: 150px;
  }
  
  .card{
    padding: 10px;
  }
  
  
  