<div class="body" id="body">
    <div class="container">
      <div class="row">
        <div class="col font1">
          <h1 style="font-size: 50px;font-weight: bolder;max-width: 750px;">Delivering the right workforce solutions,right on time</h1>
          <h5>The content of a website includes the text, images, sounds, videos, and animations that users experience on a website. Website content is the utmost important tool you can use to achieve your marketing strategy and communication to your customers about your brand.</h5>
          <button class="btn">Find Your Job</button>
        </div>
        <div class="col">
          <img class="image1" src="../../../assets/img/Backgroung rings.png" alt="" height="400px">
          <img class="image2" src="../../../assets/img/Ball.png" alt="" height="400px">
          <img class="image3" src="../../../assets/img/fdfd 1.png" alt="" height="500px">
          <img class="image4" src="../../../assets/img/Banner card.png" alt="" height="70px">
        </div>
      </div>
    </div>
</div>